*{
   margin: 0;
   padding: 0;
}


body{
  background-image: linear-gradient(to left bottom, #d83274, #c74192, #ae52aa, #8e61ba, #686dc1, #566fc6, #3c70ca, #0072cd, #006cd7, #0065e0, #005de8, #0053ee);
  background-size: cover;
  background-repeat: no-repeat;
}





.navbar{
          background-image: linear-gradient(to left bottom, #d83274, #c74192, #ae52aa, #8e61ba, #686dc1, #566fc6, #3c70ca, #0072cd, #006cd7, #0065e0, #005de8, #0053ee);   
           position: sticky;          
           top: 0;
           height: 100vh;
           align-items: flex-start;
}
.navbar  li  {
  color: white;
  font-weight: bold;
  padding: 30px;
 
}

.navbar ul{  
          list-style-type: none;
          text-decoration: none;
         
}

.col1 li:hover{
                 background-color: rgba(255, 255, 255, 0.703);
                 color: black;
                 width: 130px;
}



.subhome{
  background-color:white;
  border-radius: 14px;
  margin-top: 20px;
}
.subhome1{
  background-color:white;
  width: 650px;
  border-radius: 15px;
  margin-top: 20px;
}

.homemain{
              margin-top: 20px;
}


/*-------------------------Homepage cards----------------------*/
.cards{
          
          margin-top: 60px;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
        
          
}

.childcard{box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
             background-color:#ae52aa;
             width: 200px;
             height: 140px;
             margin: 10px;
             border-radius: 15px;
             cursor: pointer;
}

.childcard h1{
                font-size: 28px;
                text-align: center;
                font-weight: bold;
                margin-top: 5px;
                color: white;
                
}
.childcard p{
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  color: white;
}

.childcard1{box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color:#0065e0;
  width: 200px;
  height: 140px;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.childcard1 h1{
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  color: white;
}

.childcard1 p{
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  color: white;
}



.childcard2{box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color:#ae52aa;
  width: 200px;
  height: 140px;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.childcard2 h1{
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  color: white;
}

.childcard2 p{
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  color: white;
}


.childcard3{box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color:#005de8;
  width: 200px;
  height: 140px;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.icons{
         
         margin-top: 10px;
         margin-left: 10px;
}

.childcard3 h1{
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  color: white;
}

.childcard3 p{
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  color: white;
}

/*---------------------Graphs------------------------------------*/


.graphs{
           margin-top: 50px;
}

.subgraph{
            background-color:white;
            width: 1030px;
            border-radius: 16px;
}




/*---------------------About page---------------------------------------*/


.overvie{
           font-weight: bold;
           font-size: 23px;
           margin-left: 20px;   
}
.abtmain{
   
  background-color:white;
  border-radius: 10px;
  height: 280px;
  width: 99%;
  margin-top: 50px;

}



.childmain{
              
 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
 

  

}

.subabt{
          background-color: rgba(110, 246, 226, 0.464);
          width: 200px;
          height: 150px;
          border-radius: 5px;
         padding-top: 20px;
         cursor: pointer;
        
}

.subabt1{
  background-color: rgba(92, 220, 118, 0.23);
  width: 200px;
  height: 150px;
  border-radius: 5px;
  padding-top: 20px;
  cursor: pointer;
}

.subabt2{
  background-color: rgba(232, 100, 146, 0.42);
  width: 200px;
  height: 150px;
  border-radius: 5px;
  padding-top: 20px;
  cursor: pointer;

}

.subabt3{
  background-color: rgba(140, 113, 230, 0.429);
  width: 200px;
  height: 150px;
  border-radius: 5px;
  padding-top: 20px;
  cursor: pointer;

}

/*------------------------------------sales page-------------------*/

.salechart{
             margin-top: 150px;
             display: flex;
             flex-wrap: wrap;
             justify-content: space-evenly;
             background-color: white;
             height: 350px;
             border-radius: 16px;
}


.subsale1{
 
  margin-top: 50px;
}

.subsale2{
 
  margin-top: 100px;
}

.salehead{   margin-top: 10px;
             margin-left: 10px;
            font-weight: bold;
            font-size: 20px;
            
}

/*----------------------------services page--------------------------*/

.ser-nav{
           display: flex;
           flex-wrap: wrap;
           justify-content: space-around;
           margin-top: 20px;
}

select{
          border-radius: 10px;
}

input{
  border-radius: 10px;
}

.ser-titles{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 80px;
}

.subtitle1{
             
               border-right: 1px solid black;
               border-left:1px solid black;
               padding: 20px;

}
.subtitle1 h3{
                 color: white;   
}

.subtitle1 h5{
  color: white;   
}

.ser-graph{
               background-color: white;
               border-radius: 16px;
               width: 99%;
               margin-top: 30px;
}

.servmain1{
              background-color:#ffff;
              height: 650px;
              margin-top: 50px;
              width: 98%;
              border-radius: 16px;
}


.sernav{
             display: flex;
             flex-wrap: wrap;
             justify-content: space-around;
             margin-top: 50px;
            padding-top: 50px;
}
.sernav h1{
             font-size: 25px;
             font-weight: bold;
}
input{
        width: 150px;
        height: 40px;
        border: none;
        background-color: #005de8;
        color: white;
        font-size: medium;
}
::placeholder{
                color: white;
                text-align:center;
}
.title01{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
  font-weight: bold;
  text-align: center;
  text-align: justify;
}

.hold{
          background-color: orangered;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          height: 30px;
          width: 80px;
          text-align: center;
          border-radius: 10px;
          padding: 3px;
          cursor: pointer;
}

.hold:hover{
  background-color: white;
  color:orangered;
  font-weight: bold;
}

.prog:hover{
  background-color: white;
  color:green;
  font-weight: bold;
}
.prog{
  background-color: green;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 30px;
  width: 120px;
  text-align: center;
  border-radius: 10px;
  padding: 3px;
  cursor: pointer;
}

/*--------------------------contact page----------------*/

.contctmain{
              background-color: white;
              height: 800px;
              width: 99%;
              padding: 20px;
              margin-top: 20px;
}

.contctmain h1{
                 font-size: 25px;
                 
                 margin-top: 10px;
}
.cntcthead{
              display: flex;
              flex-wrap: wrap; 
              justify-content: space-between;           
             margin-top: 10px;
             font-weight: bold;
             text-align: center;
             text-align: justify;
             padding-left: 40px;
}



.childctc{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.inactive{
  background-color: orangered;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 30px;
  width: 120px;
  text-align: center;
  border-radius: 10px;
  padding: 3px;
  cursor: pointer;
  font-weight: bold;
  color: white;
           
}
.inactive:hover{
                  background-color: white;
                  color: orangered;
                  font-weight: bold;
}

.active:hover{
  background-color: white;
  color:#005de8;
  font-weight: bold;
}
.active{
  background-color:#005de8;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 30px;
  width: 120px;
  text-align: center;
  border-radius: 10px;
  padding: 3px;
  cursor: pointer;
  font-weight: bold;
  color: white;
           
}